# Bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Egg metadata
*.egg-info/
.eggs/

# Build / dist output
build/
dist/
*.egg
*.whl

# VSCode / IDE
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db

# Logs and debug
*.log

# Compiled files
*.so
*.o
*.out
*.class

# Zip / archives
*.zip

# Coverage/test artifacts
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.cache/
.pytest_cache/

# Test results
test-output/
junit-*.xml

# Jupyter Notebooks (if not used)
*.ipynb

# File e script di test manuali locali
httpcraft/tests/locals/
httpcraft/tests/locals/mock_saver_server.py
httpcraft/tests/locals/test_saving_script.py
httpcraft/tests/locals/test_image.png

# Cartella con risposte salvate dai test
responses/